
td{
  min-width:25px;
}
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#audio1{
  position: fixed;
  bottom: 0;
  left: 300px;
}
#audio2{
width:100px;
height:30px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}
.relative{
  position:relative;
}
#overlay {
  position: fixed; /* Sit on top of the page content */
  display: 'block'; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.9); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}


#overlay .text{
  position:absolute;
  top:20%;
  left:50%;
  font-size:50px;
  color:white;
  user-select:none;
  transform:translate(-50%,-50%);
  -ms-transform:translate(-50%,-50%)
}
.panel {
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.panel-default > .panel-heading {
  background-image: -webkit-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -o-linear-gradient(top, #f5f5f5 0%, #e8e8e8 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#e8e8e8));
  background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
  background-repeat: repeat-x;
}
body{color: #C0C0C0;background-color:#35363a;/* position: fixed; *//* overflow-x:hidden; *//* position:fixed; *//* overflow-y:scroll; */width:100%;}
table{
    display: table-row-group;
  vertical-align: top;
  border-color: inherit;

}
td{
  vertical-align:top;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}
 
.sidebar a.active {
  background-color: #4CAF50;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }
  .sidebar a {float: left;}
  div.content {margin-left: 0;}
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
.simple-console{
  display: fixed;
  flex: 1;
  flex-direction: column;
  font-family: sans-serif;
  position: fixed;
  opacity:0.5;
  bottom: 1px;
  right:10px;
  overflow-y: scroll;
  width: 30vw;
  /* background-color:black; */
  color:white;
}
.badge{
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25rem;
}
.simple-console-output{
  min-height:20vh;
  max-height:30vh;
  overflow-y:scroll;
  /* background-color: rgba(0,0,0,0.9); */
  color:white;
  font-size:1.2em;
  opacity: 0.2;
}

.draggable {
  position: absolute;
  background-color: #f1f1f1;
  text-align: center;
  border: 1px solid #d3d3d3;
}

.draggable {
  padding: 10px;
  cursor: move;
  z-index: 10;
  background-color: #2196F3;
  color: #fff;
}
