.simple-console {
    bottom: 20px;
    min-height: 200px;
    min-width: 100vw;
    position: relative;
    background-color: black;
    color: white;
    overflow-y: scroll;
    max-height:200px;
    margin-bottom:20px;;
    font-size:12px;
}
td{
  min-width:25px;
}

body{
  background-color: #4444;
  color:#eeeeee
  position:fixed;
  overflow:hidden;
}/**
 * Body CSS
 */
html,
body {
  height: 100%;
  position:fixed;
  overflow:hidden;
}
table{
    display: table-row-group;
  vertical-align: top;
  border-color: inherit;
  
}
td{
  vertical-align:top;
}
html,
body,
input,
textarea,
button {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}


/**
 * Header CSS
 */
header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

header ul.mui-list--inline {
  margin-bottom: 0;
}

header a {
  color: white;
}

header table {
  width: 100%;
}


/**
 * Content CSS
 */
#content-wrapper {
  min-height: 100%;

  /* sticky footer */
  box-sizing: border-box;
  margin-bottom: -100px;
  padding-bottom: 100px;
}


/**
 * Footer CSS
 */
footer {
  box-sizing: border-box;
  height: 100px;
  background-color: #eee;
  border-top: 1px solid #e0e0e0;
  padding-top: 35px;
}

input[type='range'] {
  -webkit-appearance: none;
  background-color: gray;
  height: 20px;
  border-radius: 15px;
  padding: 0 3px;
}

input[type='range']::-webkit-slider-thumb {
  vertical-align: middle;
  -webkit-appearance: none;
  background-color: #444;
  width: 16px;
  height: 16px;
  border-radius: 16px;
}
.canvas_wrapper-bigger {
    min-width: 333;
    min-height: 300;
    display: inline-block;

}
.canvas_wrapper{
  width:50px;height:50;
}
.large_canvas{
    width:980px;
    height:630px;
}

.slidecontainer {
  width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 25px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.simple-console{
  display: fixed;
    flex: 1;
    flex-direction: column;
    font-family: sans-serif;
    position: fixed;
    bottom: 10px;
    margin: 20px 0px;
    max-height: 25vh;
    overflow-y: scroll;
    width: 0vw;
    background-color:black;
    color:white;
    min-height:25vh;

}

.simple-console-output{
  min-height:20vh;
}