<template id="spotifyTemplate">
    <style>
        
    </style>
    <div>
        
    </div>>
  </template>
  
  <script>
    let tmpl = document.querySelector('#x-foo-from-template');
    // If your code is inside of an HTML Import you'll need to change the above line to:
    // let tmpl = document.currentScript.ownerDocument.querySelector('#x-foo-from-template');
  
    customElements.define('x-foo-from-template', class extends HTMLElement {
      constructor() {
        super(); // always call super() first in the constructor.
        let shadowRoot = this.attachShadow({mode: 'open'});
        shadowRoot.appendChild(tmpl.content.cloneNode(true));
      }
      ...
    });
  </script>